# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
*/bin/
bin/

# Output of the go coverage tool
*.out

# Dependency directories (remove the comment if you use vendoring)
vendor/

# Build directories
_build/
build/

# IDE/editor files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS files
.DS_Store
Thumbs.db

# Go workspace file
go.work

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Kubeconfig
*-config
*.kubeconfig


